.AP_Left {
 	float: left;
 	margin-right: 20px;
    width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: -o-calc(100% - 300px);
    width: calc(100% - 300px);

}

.AP_Right {
	 float: left;
	 width: 268px;
	 border: 1px solid #e5e5e5;
	 padding: 5px;
	 background: #fff;
	 margin-top: 45px;
}
